@import "../../styles/colors";

.grid {
  display: grid;
  columns: 3;
  gap: 2em;
  grid-auto-rows: minmax(200px, auto);
  padding: 2em;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  position: relative;
  @media only screen and (max-width: 768px) {
    padding: 2em 1.5em;
  }
}
.images {
  grid-column: 1 / 2;
  grid-row: 1;
  @media only screen and (max-width: 768px) {
    grid-column: 1;
  }
}
.details {
  grid-column: 2 / 2;
  grid-row: 1;
  h2 {
    font-size: 20px;
    font-weight: 700;
  }

  @media only screen and (max-width: 768px) {
    grid-column: 1;
    grid-row: 2;
  }
}

.activeImage {
  width: 300px;
  height: 300px;
}
.thumbnailWrapper {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.thumbnail {
  width: 54px;
  height: 54px;
  margin: 5px;
}
.review {
  margin-top: 5px;
  font-size: 12px;
  color: rgb(89, 60, 255);
}
.price {
  font-size: 24px;
  font-weight: 300;
  margin: 1em 0;
  span {
    margin-left: 0.5em;
    font-size: 18px;
    text-decoration: line-through;
    color: $subtitleColor;
  }
}
.productDetail {
  font-size: 14px;
  margin: 0.5em 0;
  margin-bottom: 1em;
  color: $subtitleColor;
}
.tabPan {
  padding: 1em 0;
}
.dropDown {
  display: block;
  margin-bottom: 2em;
  width: 100%;
  padding: 0.7em 1.5em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  text-transform: capitalize;
}
.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
