@import "../../styles/colors";

.subHeading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}
.roundProgressWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      font-size: 14;
      color: $subtitleColor;
      text-transform: capitalize;
    }
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.socialProgress {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  p {
    font-size: 16px;
    color: $subtitleColor;
  }
}

.socialWrapper {
  margin-top: 1.5em;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.2em;
  }
}

.subtitle {
  font-size: 14px;
  color: $subtitleColor;
  margin-bottom: 1em;
}

.subHeading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}
