@import "../../styles/colors";
.root {
  justify-content: space-between;
  align-items: flex-end;
  p {
    color: $subtitleColor;
    margin-right: 5px;
    text-transform: capitalize;
  }
  @media only screen and (max-width: 560px) {
    display: block !important;
  }
}
.progressWrapper {
  display: flex;
  flex-direction: column;
  p {
    font-weight: 700;
    text-align: right;
    margin-bottom: 0.3em;
  }
}

.track {
  min-width: 250px;
  display: inline;
  width: 100%;
  background-color: rgb(218, 218, 218);
  height: 10px;
  border-radius: 10px;
  overflow: scroll;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  div {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    border-radius: 10px;
  }
  @media only screen and (max-width: 560px) {
    min-width: 200px;
  }
}
